@import "../../../scss/color";
@import "../../../scss/mixins";

.form {
    @include flex-col;
    gap: 1.8rem;
    width: 100%;

    &_buttons {
        width: 100%;
        @include flex-row;
        gap: 1rem;
    }

    .password_input_field,
    .confirm_password_input_field {
        position: relative;

        .view_btn {
            position: absolute;
            right: 0.5rem;
            top: 0.54rem;
            z-index: 10;

            button {
                border: unset;
                background-color: unset;
                z-index: 10;
                cursor: pointer;
            }
        }
    }

    .form_buttons {
        @include flex-row;
        gap: 0.8rem;

        button {
            width: 50%;
        }
    }
}