$dark_gray: #3b3841;
$black_main: #212529;
$gray_main: #b5b5b5;
$red_main: #cc2121;
$white: #fff;
$light_gray: #aeb4be;
$body: #f6f9fc;
$body_gray: #9fa7b6;
$off_white: #e5e5e5;
$deep_purple: #4527a0;
$purlpe_light: #7e57c2;
$purlpe_body: #eae1fa;
$purlpe_2: #7e57c2;